<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="orders" class="tab-button" routerLink="/app/tabs/orders">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Carrito</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map" class="tab-button" routerLink="/app/tabs/map">
            <ion-icon name="search-sharp"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" class="tab-button" routerLink="app/tabs/profile">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
