<ion-content [fullscreen]="true">
    <ion-header class="header-search-map">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <ion-searchbar placeholder="Busca tiendas o servicios" color="light" class="without-search-icon"></ion-searchbar>
                </ion-col>
                <ion-col size="2">
                    <ion-button class="btn-no-style" (click)="showList()">
                        <ion-icon class="card-i size-icon-default" name="swap-horizontal"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-header>

    <div #mapCanvas id="map_canvas"></div>

    <ion-fab #fab class="fab-corner-lr" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="{{ fabAttached ? 'map':'light'}}" (click)="attachedPosition()">
            <ion-icon src="assets/icon/my_location.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-bottom-drawer [(state)]="bottomDrawer.drawerState" [minimumHeight]="bottomDrawer.minimumHeight" [dockedHeight]="bottomDrawer.dockedHeight"
                   [shouldBounce]="bottomDrawer.shouldBounce" [distanceTop]="bottomDrawer.distanceTop">
    <div class="drawer-content nearby-expanded">
        <div>
            List of elements
        </div>
    </div>
</ion-bottom-drawer>
